.main__cart {
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
table {
  width: 80%;
  border: 1px solid #dbb143;
  border-radius: 1rem;
  background-color: #fef596;
}
table th,
table td {
  border: 1px solid #dbb143;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 1rem;
}
table tr {
  border: 1px solid #dbb143;
}
.row__space {
  border: none;
}
.cart__btn {
  width: auto;
}
