.itemDetail {
  background-color: #fef596;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  width: 90%;
}
.itemDetail__title {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
.itemDetail__img {
  height: auto;
  margin: auto 2rem;
  width: 80%;
  max-width: 250px;
}
.itemDetail__data {
  width: 100%;
}
.itemDetail__text {
  display: inline-block;
  margin: 1rem 0;
}
.itemDetail__text.price {
  font-size: 1.5rem;
}

.itemDetail__countPrice {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 100%;
}
.itemDetail__btns {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .itemDetail__data {
    width: calc(100% - 300px - 4rem);
  }
  .itemDetail__countPrice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
    width: 100%;
  }
}
