.itemDetail {
  background-color: #fef596;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  width: 60%;
}
.itemDetail__title {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
.itemDetail__img {
  margin-right: 2rem;
  height: 200px;
}
.itemDetail__data {
  width: calc(100% - 220px - 4rem);
}
.itemDetail__text {
  display: inline-block;
  margin: 1rem 0;
}
.itemDetail__text.price {
  font-size: 1.5rem;
}

.itemDetail__countPrice {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
  width: 100%;
}
.itemDetail__btns {
  display: flex;
  justify-content: space-evenly;
}
