.navbar {
  align-items: center;
  background-color: #70ac48;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar__head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  width: 100%;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar__brand {
  display: flex;
  margin: 1rem auto;
}
.navbar__img {
  height: 100px;
}
.navbar__nav {
  background-color: #2a7c3a;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}
.navbar__item {
  align-items: center;
  border-left: 1px solid grey;
  display: flex;
  height: 100%;
  justify-content: center;
  list-style: none;
  width: 10rem;
}
.navbar__item:last-of-type {
  border-right: 1px solid grey;
}
.navbar__link {
  background-color: transparent;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.navbar__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .navbar__head {
    flex-direction: row;
  }
  .navbar__brand {
    margin: 0;
    margin-left: 1rem;
  }
}
